<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <p class="brand-mark">Velora</p>
      <p class="footer-copy">{{ 'footer.tagline' | t }}</p>
    </div>
    <div class="footer-links">
      <a routerLink="/shop">{{ 'footer.shopAll' | t }}</a>
      <a routerLink="/shop/skincare">{{ 'footer.skincare' | t }}</a>
      <a routerLink="/shop/makeup">{{ 'footer.makeup' | t }}</a>
    </div>
    <p class="legal">{{ 'footer.legal' | t: { year: year } }}</p>
  </div>
</footer>
