# .NET
**/bin/
**/obj/
**/*.db
**/*.db-shm
**/*.db-wal
*.user
*.suo

# Node / Angular
**/node_modules/
**/dist/
**/.angular/
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
